{
    "template": "contract",
    "ancestor_folder_id": "0",
    "query": "autoRenew = :arg1",
    "query_params": {
        "arg1": "Yes"
    },
    "order_by": [
        {
            "field_key": "externalPartyName",
            "direction": "asc"
        }
    ],
    "file_properties": [
        "id",
        "name",
        "size",
        "created_at",
        "modified_at"
    ],
    "metadata_fields": [
        "externalPartyName",
        "contractType",
        "endDate",
        "autoRenew",
        "lawyer",
        "riskLevel"
    ],
    "date_format": "yyyy-MM-dd'T'HH:mm"    
}